
.moving-box {
  display: inline-block;
  margin: 1vw 5vw;
  width: 34vw;
  height: 100vw;
  background-image:
    url("sorting_hat.jpg");
}

#container.started > .moving-box {
  animation: animate-box 1s linear infinite alternate;
}

@keyframes animate-box {
  from {
    margin-left: 1vw;
  }
  to {
    margin-left: 80vw;

  }
}

.input-text {
  height: 10px;
  width: 160px;
}
